# Binaries
*.exe
*.exe;
*.dll
*.so
*.dylib
*.test
*.out
api-gateway
video-worker
notification-service

# Storage / Temporary Files
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/outputs/*
!/storage/outputs/.gitkeep
/storage/temp/*
!/storage/temp/.gitkeep
/uploads/*
!/uploads/.gitkeep
/outputs/*
!/outputs/.gitkeep
/temp/*
!/temp/.gitkeep

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
__MACOSX/
